html, body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: proxima-soft, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f7f8fc;
}

#banner {
    height: 50px;
    width: 100%;
    background-color: #0176e7;
    color: #fff;
    font-weight: 600;
    font-size: 24px;
}

#banner .header {
    padding: 7.5px 20px;
    display: inline-block;
}

#nav {
    display: inline-block;
    font-size: 18px;
    vertical-align: top;
}

#nav div:first-of-type {
    margin-left: 50px;
}

#nav div {
    display: inline-block;
    margin: 3px 10px;
    vertical-align: top;
    color: #eee;
    cursor: pointer;
}

#nav div:hover {
    color: #acd;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

#selection {
    background-color: #006ad0;
    padding: 20px;
}

#assets {
    background-color: #f7f8fc;
    padding: 20px;
}

.box {
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    display: inline-block;
    box-shadow: 0 2px 8px 1px rgb(0,0,0,0.05);
    vertical-align: top;
    position: relative;
}

.box .header {
    font-size: 18px;
}

.box#select-folder {
    margin-right: 20px;
    width: 305px;
    height: 125px;
}

.box#recent-folders {
    width: calc(100% - 410px);
    height: 125px;
}

button {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 11px;
    cursor: pointer;
    color: #333;
    text-align: center;
    transition: .2s;
}

button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
}

button#check-folder {
    display: block;
    width: 100%;
    margin: 20px auto 0;
}

label {
    display: inline-block;
    margin-right: 10px;
}

.input {
    width: 100%;
}

.input input {
    width: calc(65% - 29px);
}

.input label {
    width: calc(35% - 10px);
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px 11px;
    margin: 20px auto 0;
    outline: none;
    display: inline-block;
}

input[type="text"]:focus {
    border: 1px solid #aaa;
}

.button:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.icon {
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: top;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#folder-icon {
    background-image: url("/img/folder.svg");
}

.recent-path {
    vertical-align: top;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 110px);
    display: inline-block;
}

.recent {
    width: 100%;
    position: relative;
    padding: 5px 0;
}

.recent button {
    vertical-align: top;
    position: absolute;
    right: 0;
    top: 0
}

#selected-path-box {
    width: calc(100% - 40px);
    margin-top: 20px;
}

#pathname {
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
}

#notify {
    background-color: #FFF;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    transition: .5s;
}

#assets-box {
    width: calc(40% - 50px);
    margin-right: 20px;
}

#assets-content {
    width: 100%;
}

#update-assets-box {
    width: calc(60% - 55px);
}

.asset .icon {
    background-size: 50%;
}

.asset[icon="loading"] .icon {
    background-image: url("/img/loading.svg");
    animation: spin 3s linear infinite;
}

.asset[icon="check"] .icon {
    background-image: url("/img/check.svg");
}

.asset[icon="close"] .icon {
    background-image: url("/img/close.svg");
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.asset .asset-name {
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    width: calc(100% - 50px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#assets-count, #assets-progress, #assets-summary {
    height: 24px;
}

#assets-count {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
}

#assets-summary {
    margin-left: 20px;
    width: 200px;
}

#assets-progress {
    width: calc(100% - 570px);
}

#assets-count div, #assets-summary div, #assets-progress div {
    display: inline-block;
    vertical-align: top;
}

#game-icon {
    background-image: url("/img/game.svg");
    margin-right: 10px;
}

#update-icon {
    background-image: url("/img/update.svg");
    margin-right: 10px;
}

#logo {
    background-image: url("/img/logo.svg");
    margin-right: 10px;
    height: 35px;
    width: 35px;
    background-size: 75%;
}

.progress {
    height: 20px;
    background-color: #f7f8fc;
    overflow: hidden;
    border-radius: 5px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    border-radius: 5px;
    overflow: hidden;
    background-color: transparent;
    transition: .5s;
}

.progress-bar-background {
    height: 100%;
    width: 100vw;
    max-width: calc(1200px - 570px - 85px);
    background-image: repeating-linear-gradient(
            45deg,
            #0176e7,
            #0176e7 10px,
            #006ad0 10px,
            #006ad0 20px
    );
    animation: flow 20s linear infinite;
    background-size: 200% 200%;
    animation-direction: reverse;
    opacity: 1;
    transition: .5s;
}

.progress-bar[style="width: 100%;"] {
    background-color: #32BEA6;
}
.progress-bar[style="width: 100%;"].failed {
    background-color: #DD2C00;
}
.progress-bar[style="width: 100%;"] .progress-bar-background {
    opacity: 0;
}

@keyframes flow {
    100% {
        background-position: 100% 100%;
    }
}

#progress-text {
    width: 75px;
}

#check-progress {
    width: calc(100% - 85px);
    margin: 2px 0;
}

.update-asset {
    height: 24px;
    padding: 10px;
    box-shadow: 0 1px 3px 1px rgb(0,0,0,0.05);
    border-radius: 5px;
    margin-top:10px;
}

.update-asset div {
    display: inline-block;
}

.update-asset .icon {
    background-image: url("/img/game.svg");
    margin-right: 10px;
    background-size: 80%;
}

.update-asset .asset-name {
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.update-asset button {
    width: 85px;
    margin-left: 10px;
    vertical-align: top;
    height: 24px;
    line-height: 12px;
}

#update-all {
    height: 24px;
    line-height: 12px;
    position: absolute;
    top:20px;
    right:20px;
}

.update-asset .progress {
    width: calc(100% - 231px);
    margin: 2px 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed #eee;
    overflow: visible !important;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #FFF;
    color: #222;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px 2px rgb(0, 0, 0, 0.15);
    position: absolute;
    z-index: 1;

    width: fit-content;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #FFF transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#downloads, #complete-downloads, #failed-downloads {
    width: calc((100% / 3) - 60px);
    display: inline-block;
    margin-right: 20px;
}

#failed-downloads {
    margin-right: 0;
}

.failed-asset .icon {
    background-image: url("/img/close.svg");
    margin-right: 10px;
    background-size: 80%;
}

.complete-asset .icon {
    background-image: url("/img/check.svg");
    margin-right: 10px;
    background-size: 80%;
}